*.png*
*.pdb*
*.itp*
*.top*
*.trr*
*.tpr*
*.log*
*.gro*
*.edr*
*.cpt*
*.xtc*
*.txt*
*.err*
*.nmd*
*.csv*
*.hm*
*.mol2
*.sdf
*.ent
*.pdb
*.pdf
netanalysis/ring/
netanalysis/getcontacts/data/
netanalysis/getcontacts/ds_2020_12_15_9_4_1/
*/__pycache__